.container {
  margin: 30px 150px;
  border: 2px solid black;
}

.container-pizza {
  margin: 0px 20px;
}

.pizza-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
}

.pizza {
  border: 2px solid black;
  padding: 10px;
}

.pizza-image {
  width: 100%;
  height: 200px;
  /* padding: 20px; */
}

.image-size {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.pizza-pick {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .pizza-name {
  text-size: 20px;

  margin: none;
  padding: 1px;
} */
.title {
  margin-left: -10px;
}

/* SIZE */
.size-list {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  /* margin: 0px 100px; */
}

.size1 {
  display: flex;
  flex-direction: column;
}

/* TOPPINGS */

.toppings-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* grid-template-rows: repeat(4, minmax(0, 1fr)); */
}

@media (max-width: 992px) {
  .container {
    margin: 30px 30px;
  }
}
@media (max-width: 576px) {
  .pizza-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 4px;
  }
}
